<ion-header>
  <ion-toolbar>
    <ion-thumbnail class="logo-lg">
      <ion-img src="./assets/icon/ert_logo.svg" alt="text"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail class="logo-sm">
      <ion-img src="./assets/icon/ert_logo.svg" alt="text"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <ion-text>
          <h2 class="question">Sample multiple choice question.</h2>
        </ion-text>
        <ion-card class="grid-card">
          <ion-radio-group value="biff">
            <ion-item part="detail-icon">
              <ion-label>Answer 1</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12">
        <ion-card class="grid-card">
          <ion-radio-group value="biff">
            <ion-item part="detail-icon">
              <ion-label>Answer 2</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12">
        <ion-card class="grid-card">
          <ion-radio-group value="biff">
            <ion-item part="detail-icon">
              <ion-label>Answer 3</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12">
        <ion-card class="grid-card">
          <ion-radio-group value="biff">
            <ion-item part="detail-icon">
              <ion-label>Answer 4</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-end">
      <ion-button shape="round" color="primary" fill="clear" slot="end">Previous</ion-button>
      <ion-button shape="round" color="primary" slot="end">Continue</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>