.grid-card{
    background-color: #f7f7f8;
    border-radius: 1em;

}
ion-item{
    --background: #f7f7f8;
    --border-style: none;
}

ion-radio{
    width: 26px;
    height: 26px;
}

.question{
    margin: auto 16px 16px 16px;
    font-weight: bold;
}